<div class="first-level">

  <article class="box">
    <header class="box__title">
      <h4>Nivel 1</h4>
    </header>
  </article>

  <div class="second-level">

    <article class="box">
      <header class="box__title">
        <h4>Nivel 1.1</h4>
      </header>
      <p class="box__text"> Explicación del nivel 1.1</p>
    </article>

    <article class="box">
      <header class="box__title">
        <h4>Nivel 1.2</h4>
      </header>
      <p class="box__text"> Explicación del nivel 1.2 </p>
    </article>

  </div>
</div>
